
#
# Configuration file for Travis CI
# https://travis-ci.org/
#

language: java

jdk:
  - openjdk7
  - oraclejdk7
  - openjdk8
  - oraclejdk8
  - oraclejdk9

install:
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=false -B -V

after_success:
  - cd ontocomp ; mvn clean cobertura:cobertura coveralls:report

sudo: false


